@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html {
    background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
        background-repeat: no-repeat;
}
body {
    font-family: 'Barlow', sans-serif;
 
}
ul {
    list-style: none;
}